.himg
{
    border: solid 5px transparent;
}
.himg:hover
{
    border-color: red;
}
#banner
{
	position: relative;
	border-radius: 10px;
	box-shadow: 10px 10px 5px #111111;
	background-color: #909090;
	width: 75%;
	height: 15%;
	margin: auto;
}
#banner-left
{
	position: relative;
	background-color: #909090;
	box-shadow: 10px 10px 5px #111111;
	border-radius: 10px;
	height: 50%;
	width: 10%;
	left: 15%;
	top: 3%;
}
#banner-right
{
	position: relative;
	background-color: #909090;
	box-shadow: 10px 10px 5px #111111;
	border-radius: 10px;
	height: 50%;
	width: 10%;
	right: 5px;
	left: 75%;
	top: -47%;
}
#centerpic
{
	position: absolute;
	background-color: #909090;
	box-shadow: 10px 10px 5px #111111;
	border-radius: 10px;
	height: 61%;
	width: 46%;
	left: 27%;
	top: 19%;
}
#entbox
{
    position: absolute;
    background-color: palegreen;
    box-shadow: 10px 10px 5px #111111;
    border-radius: 10px;
    width: 25%;
    height: auto;
    top: 70%;
    left: 10%;
    font-family: sans-serif; 
}
#doftpng
{
	position: absolute;
	width: 25%;
	max-width: 100%;
	height: auto;
	top: 20px;
}
#loupepng
{
	position: absolute;
	width: 18%;
	max-width: 100%;
	height: auto;
	right: 30px;
	top: 10px;
}
#reloadpng
{
	position: absolute;
	max-width: 20px;
	max-height: 20px;
	width: 20px;
	height: 20px;
	top: 10px;
	right: 10px;
}
#closepng
{
	position: absolute;
	bottom: 10px;
	right: 10px;
}
#arrowpng
{
    position: relative; 
    width: 45%;
    height: auto;
    left: 45px;
    top: 10px;
}
#mainpng
{
    position: relative; 
    width: 45%;
    height: auto;
    left: 45px;
    top: 10px;
}
#oeilpng
{
    position: relative; 
    width: 45%;
    height: auto;
    left: 45px;
    top: 10px;
}
#outilpng
{
    position: relative; 
    width: 45%;
    height: auto;
    left: 45px;
    top: 10px;
}
#chatpng
{
    position: relative; 
    width: 45%;
    height: auto;
    left: 45px;
    top: 10px;
}
#bookpng
{
    position: relative;
    width: 45%;
    height: auto;
    left: 50px;
    top: 10px;
}
#towelpng
{
    position: relative;
    width: 45%;
    height: auto;
    left: 50px;
    top: 20px;
}
#brickjpg
{
    position: relative;
    width: 45%;
    height: auto;
    left: 50px;
    top: 40px;
}
#clusterjpg
{
    position: relative;
    width: 98%; 
    height: 98%;
    left: 10px;
    top: 6px;
}
#ftext
{
    text-align: left;
    padding-left: 5px;
}
#divinp
{
    position: relative; 
    padding-left: 5px;  
    padding-bottom: 50px;
}
#finput
{
    width: 80%;
}
#btn
{
    width: 15%;
}
#cm
{
    border: 3px solid red;
}